@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
        @apply font-semibold bg-green text-white py-2 px-3 rounded-full hover:bg-darkergreen transition;
    }
    h1 {
      @apply text-3xl font-bold uppercase
    }
    h2 {
      @apply text-2xl font-bold uppercase
    }
    h3 {
      @apply text-xl font-bold uppercase
    }
}

@layer utilities {
    .animation-delay-75 {
      animation-delay: 75ms;
    }
    .animation-delay-500 {
      animation-delay: 500ms;
    }
    .animation-delay-1000 {
      animation-delay: 1s;
    }
  }